body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    margin: 5px 0;
}

figure {
    margin: 20px auto;
    text-align: center;
}

figure img {
    max-width: 100%;
    height: auto;
}

main {
    padding: 20px;
}

footer {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
}


/* Transitions */
header, figure, main, footer {
    transition: all 1s ease;
}

/* Keyframes Animation */
@keyframes boringAnimation {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(0deg); }
    
}

/* Apply the animation */
footer {
    animation: boringAnimation 5s infinite;   
    animation-delay: 30s;
}
.content {
    padding: 20px;
    margin: 50px;
    text-align: center;
}

.rainbow2 {
	font-size: 16.5px;
	font-family: Arial Black, Gadget, sans-serif;
  background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
    -webkit-animation: animatedBackground_a 5s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-clip: text;
    animation-delay: 30s;

}

@keyframes animatedBackground_a {
    0% { background-position: 0 0 }
    100% { background-position: -500px 0 }
}
@keyframes changeTextColor {
    0% {
        color: transparent;
    }
    100% {
        color: black; /* Change text color to black */
    }
}
