table {
  border: 2px solid white;
  color: white;
}
table {
  margin: 0 auto; 
}
body {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 


table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 10px;
    border: 1px solid #ccc;
}

