body {
    background-image: url('../images/theater pic.jpg');
    background-size: cover;
}
table {
  border: 2px solid white;
  color: white;
background-color: grey;
}
table {
  margin: 0 auto; 
}
body {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 


table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 10px;
    border: 1px solid #ccc;
}

.hover-cell {
    cursor: pointer;
    transition: background-image 0.3s ease-in-out;
}
