body {
    background-image: url('../images/Children Of The Sea.jpg');
}

h1 {
    color:white;
}

h4 {
    color:white;
}

p {
    color:white;
    font-size:20px;
    border-top-style: solid;
    border-bottom-style: solid;
}

ul {
    color:white;
}

a {
    color:white;
}
a:hover {
    color:aqua;
}
